<a href="https://colab.research.google.com/github/Dennis-Farias/cursoIAeML/blob/main/Unbal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTENC

In [ ]:
credito = pd.read_csv('credit_simple.csv', sep=';')
credito.head()

In [22]:
count = credito.groupby('CLASSE').size()
count

CLASSE
bom     700
ruim    300
dtype: int64

In [10]:
y = credito['CLASSE'].values
X = credito.iloc[:,:-1].values

In [14]:
labelencoder = LabelEncoder()
for i in range(X.shape[1]):
  if X[:,i].dtype == 'object':
    X[:,i] = labelencoder.fit_transform(X[:,i])

In [16]:
sm = SMOTENC(random_state=0, categorical_features=[3,5,6])
X_res, y_res = sm.fit_resample(X,y)

In [21]:
df = pd.DataFrame({'CLASSE': y_res})
df.value_counts()

CLASSE
bom       700
ruim      700
Name: count, dtype: int64